.portfolio-item{
    width: 200px;
    height: 200px;
    
    transition: all .2s ease-in-out !important;
}
.portfolio-item:hover{
    transform: scale(1.1);
}
.bg-primary{
    background-color: black !important
}
.btn-primary {
    background-color: black !important
}
.bg-secondary{
    background-color: aliceblue !important
}
#mainNav .navbar-nav li.nav-item a.nav-link{
    color: black !important
}

.portfolio-language-title{
    margin-top: 2%;
    margin-bottom: 2%;
    color: blue;
}
.name-character{
    position: relative !important;
    margin: 5px;
    /* -webkit-animation: mymove 5s infinite; Safari 4.0 - 8.0 */
    animation-delay: attr(animation-time-delay);
    animation: moveUpDown 4s infinite;
}
/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
  } */
  
/* Standard syntax */
@keyframes moveUpDown {
    0%   {top: 0px;}
    25%  {top: 200px;}
    65%  {top: -50px}
    85%  {top: 50px}    
    100% {top: 0px;}
  }

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s inherit;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeftBig {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }


    /* Email form button  */
    .floating-mail-button{
        border-radius: 120px / 50px;
        background-color:darkcyan;
        background-clip: padding-box;
        position: fixed; 
        bottom: 10%; 
        right: 10%;
        transition: all .2s ease-in-out !important;
    }
    .floating-mail-button:hover{
        transform: scale(1.1);
    }
   
    /* Comment style */
    div .comment-box{
        padding-top: 2%;
    }
    .left {
		width: 80% !important;
		padding-bottom: 40px;
		min-height: auto !important;
		padding-right: 0;
		float: left;
	}

	.left > p:first-of-type { 
		background: #ffd987; 
		font-style: italic; 
		padding: 5px 10px; 
        margin-bottom: 40px;
	}

	.tip {
		background: #fff;
		border: 1px solid #ccc;
		padding: 10px;
		font-size: 1.2em;
		position: relative;
		width: 200px;
	}

	.tip:before {
		position: absolute;
		top: -14px;
		left: 98px;
		display: inline-block;
		border-right: 14px solid transparent;
		border-bottom: 14px solid #fff;
		border-left: 14px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}

	.tip:after {
		position: absolute;
		top: -12px;
		left: 99px;
		display: inline-block;
		border-right: 12px solid transparent;
		border-bottom: 12px solid #fff;
		border-left: 12px solid transparent;
		content: '';
	}

	.tip.left:before {
		border-top: 14px solid transparent;
		border-right: 14px solid #fff;
		border-bottom: 14px solid transparent;
		border-right-color: rgba(0, 0, 0, 0.2);
		left: -28px;
		top: 20px;
	}

	.tip.left:after {
		border-top: 12px solid transparent;
		border-right: 12px solid #fff;
		border-bottom: 12px solid transparent;
		left: -24px;
		top: 22px;
	}

    .comment-box .name-box{
        padding-left: 3%;
        border: green;
        color: blue;
    }
    .comment-box .comment-text{
        padding-left: 5%;
        border-style: solid;
        border: 2px red;
        word-wrap: break-word;
       
    }

    